*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: Arial, sans-serif;
	position: relative;
}
.nav{
	position: fixed;
	height: 90px;
	width: 100%;
	background: #9E9087;
	margin-bottom: 30px;
	z-index: 1;

	border-bottom: solid 1px black;
}
.nav ul {
	position: absolute;
	top: 38px;
	left:10%;
}
.nav li {
	display: inline-block;
}
.nav a{
	text-decoration: none;
	color:black;
	margin-left: 15px;
}

.nav a:hover {
	color:white;
	text-decoration: none;
}
audio{
	z-index: 0;
}
/*середина */
.OnMyWorkingTable{
	text-align: center;
	padding-bottom: 20px;

	border: 1px solid grey;
	border-top: 2px solid grey;
}
.OnMyWorkingTable > h2 {
	font-size: 19px;
	font-weight: bold;
}
.btn-danger{
	padding: 10px;
	border-radius: 5px;
}
.btn-danger:hover{
	text-decoration: none;
	color: #D84D4D;
}
.audio {
	width: 100%;
	margin: 10px;
	text-align: center;
}
.footer {
	margin-top: 40px;
	width: 100%;
	height: 90px;
	background: #4D1414;
	text-align: center;

	border-top: 2px solid red;
}